/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff7514;
  --ifm-color-primary-dark: #f86600;
  --ifm-color-primary-darker: #ea6000;
  --ifm-color-primary-darkest: #c14f00;
  --ifm-color-primary-light: #ff8530;
  --ifm-color-primary-lighter: #ff8d3d;
  --ifm-color-primary-lightest: #ffa566;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ff7514;
  --ifm-color-primary-dark: #f86600;
  --ifm-color-primary-darker: #ea6000;
  --ifm-color-primary-darkest: #c14f00;
  --ifm-color-primary-light: #ff8530;
  --ifm-color-primary-lighter: #ff8d3d;
  --ifm-color-primary-lightest: #ffa566;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
